{% extends "CoobixAdminBundle:Default:index.html.twig" %}


{% block breadcrumb_in %}
	
	<span class="txt14"> | </span>
	
	<span class="txt26">Página no encontrada</span> 

	{# #}
{% endblock breadcrumb_in %}

{% block center_col %}{% endblock center_col %}

{% block full_col_content %}
	<h1 class="content_tit txt15" >
		Oops! Página no encontrada.
	</h1>

	<h2 class="content_intro txt16_bold	">
		Envianos un e-mail a travéz de nuestra página de Contacto y cuentanos que estabas haciendo 
		cuando ocurrió éste error. 
		Lo solucionaremos tan pronto sea posible!
	</h2>

	<div class="sep"></div>
	
{% endblock full_col_content %}	

