<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
    php_value date.timezone "America/Argentina/La_Rioja"
    DirectoryIndex app.php index.php index.html
</IfModule>


