{% extends "CoobixAdminBundle:Default:index.html.twig" %}
		
{% block menuOpciones %} {% endblock menuOpciones %}	
{% block menuAcciones%}{% endblock menuAcciones%}

{% block main_content %}
<div class="module width_full">

	<div class="module_header">
	
		<div class="module_tit txt3">Estado</div>

		

		
		<div class="fix"></div>
		
	   
		
	</div>
	
		
		<a class="NTabContainerBtn txt3 border_radius" id="btnEstadoSecadorPlacas" href="javascript:void(0);">
			Secadores de Placas
		</a>
		<a class="NTabContainerBtn txt3 border_radius"  id="btnEstadoSecadorMolduras" href="javascript:void(0);">
			Secadores de Molduras
		</a>
		
		
	<div class="NTabContainer border_radius" id="solapaEstadoPlacas">

		
		
		<div class="fix"><br></div>
		
		{% for sP in secadoresPlacas %}
			
			{% include 'DecoyesoProduccionBundle:Secador:secador_placas_tiempo.html.twig' with {'sP': sP} %}
		
		{% else %}
		
		<div class="txt3">
			No se han creado secadores de placas.
		</div>
		
		{% endfor %}
		
		
		
					
	</div>
	
	
	<div class="NTabContainer border_radius NdisplayNone" id="solapaEstadoMolduras">
	
	<div class="fix"><br></div>
		
		{% for sP in secadoresMolduras %}
		
			{% include 'DecoyesoProduccionBundle:Secador:secador_placas_tiempo.html.twig' with {'sP': sP} %}
		
		{% else %}
		
		<div class="txt3">
			No se han creado secadores de molduras.
		</div>
		
		{% endfor %}
		

	</div>			
</div>
{% endblock main_content %}

{% block javascript_extra %}



	<script type="text/javascript" src="{{ asset('bundles/decoyesoproduccion/js/secador.js') }}" ></script>
	
{% endblock javascript_extra %}

