		<table id="tablaItems" class="NTablaItemsProceso">
			<tr>
				<td  colspan="3" align="center" class=" txt3 ">ESPACIO EN SECADORES</td>
			</tr>
						
			<tr>
				<td class=" txt3 ">PRODUCTO</td>
				<td align="center" class=" txt3 ">CANTIDAD</td>
				<td align="center" class=" txt3 " >SECADORES</td>
			</tr>
			
			{% if (totalCantidadPlacas > 0) %}
			<tr>
				<td class="">Placas</td>
				<td align="center" class="">{{ totalCantidadPlacas }}</td>
				<td align="center" class="  " > 
				{% if (cantidadLugaresLibresEnSecadoresPlacas < totalCantidadPlacas) %}
				<span class="NletraRoja">
				No hay Lugar ({{ cantidadLugaresLibresEnSecadoresPlacas }} lugares disponibles)
				</span>
				{% else %}
				<span class="NletraVerde">
				Hay Lugar
				</span>
				{% endif %}
				
				</td>
			</tr>
			{% endif %}
			{% if (totalCantidadMolduras > 0) %}
			<tr>
				<td class="">Molduras</td>
				<td align="center" class="  ">{{ totalCantidadMolduras }}</td>
				<td align="center" class="  " >
				{% if (cantidadLugaresLibresEnSecadoresMolduras < totalCantidadPlacas) %}
				<span class="NletraRoja">
				No hay Lugar ({{ cantidadLugaresLibresEnSecadoresMolduras }} lugares disponibles)
				</span>
				{% else %}
				<span class="NletraVerde">
				Hay Lugar
				</span>
				{% endif %}
				</td>
			</tr>
			{% endif %}

		</table>
		<div class="fix"><br></div>
	{#  	#}