<div class="NSecadorCont itemSecadorMoldura">

			<span class="txt3">Secador:</span> <span class="Ntxt3">{{ sP.nombre }}</span><br>
			<span class="txt3">Capacidad:</span> <span class="Ntxt3">{{ sP.capacidad }} Un.</span><br>

			 
			<div class="fix"><br></div>

			<div class="NSecador">
				{% for lugar in sP.lugaresSecador %}
					
					{% if lugar.getDisponible() == 0 %}
						<div class="NLugar" id="{{ loop.index }}">
					{% endif %}
					{% if lugar.getDisponible() == 1 %}
						<div class="NLugar NAzul " id="{{ loop.index }}">
					{% endif %}
					
						</div>
						
					{% if (loop.index % 5 == 0) %}
					<div class="fix"></div>
					{% endif %}
						
				{% endfor %}
			</div>
			
			
		
		</div>