/* List Search */

.buscador{
	float:left;
	width:100%;
	border-bottom:#ccc solid 1px;
	display:none;
	margin:0px 0px 20px 0px;
	padding:10px 0px;;
}

#formBuscar{
	clear:left;
	margin:0px auto;
	width: 96%;
}

.buscadorCampo{
	float:left;
	width: 25%;
	height: 60px;
}

.buscadorCampoLabel{
	float:left;
	border-bottom:1px solid #ccc;
	width: 90%;
	margin-bottom:3px;
	font-size: 13px;
	padding-bottom:2px;
	
}

.buscadorCampoForm{
	float:left;
	width: 90%;
}

.buscadorCampoForm input, .buscadorCampoForm select{
	float:left;
	width: 98%;
	border:solid 1px #ccc;
	background-color: #fff;
	padding: 2px;
	font-size: 13px;
}


.buscadorCampoForm .date select{
	float:left;
	width: 33%;
	border:solid 1px #ccc;
	background-color: #fff;
	font-size: 13px;
}

.btnAplicarBusqueda{
	float:left;
	width: 100%;
}


