
.field_widget_insumos,.field_widget_productos{
	width: 80%;
}

.field_widget_insumos tr th,.field_widget_productos tr th{
	background-color: #ccc; 
}

.field_widget_insumos tr th:first-child,.field_widget_productos tr th:first-child{
	text-align: left;
	
}

.field_widget_insumos tr td select,.field_widget_productos tr td select{
	width: 350px;
	padding:5px;
	height: 30px
}

.field_widget_insumos tr td input[type="text"],.field_widget_productos tr td input[type="text"]{
	width: 50px;
	height: 15px;
	padding:5px;
}