.inputLargo {
	width: 400px;
	height: 25px;
	margin-bottom: 1px;
}

.field_widget input.inputCorto ,.inputCorto {
	width: 100px;
	height: 25px;
	margin-bottom: 1px;
}

.titItems {
	text-align: center;
}

.precioSubtotal {
    border: 1px solid;
    width: 125px;
}


.precioTotal {
    border: 1px solid;
    width: 121px;
}

.signo_peso {
	float: left;
	margin: 10px 0 0 2px;
}

.precioEntrega {
    border: 1px solid;
    width: 204px;
}

.NdisplayNone {
	display: none;
}

.NvisibilityHidden {
	visibility: hidden;
}

.NobservacionPresupuesto {
width:100%;
height:100px;
}

.NfondoGris {
	background-color: #C5C1BA;
}

.Ntxt5 {
    color: #333333;
    font-family: "Lucida Grande",tahoma,arial,helvetica,sans-serif;
    font-size: 10.5px;
    line-height: 20px;
}

#decoyeso_pedidobundle_presupuestotype_mostrarColumnas {
	float: left;
    width: 560px;
	
}
#decoyeso_pedidobundle_presupuestotype_mostrarColumnas label,
#decoyeso_pedidobundle_presupuestotype_mostrarColumnas input {
	
}


.NbtnAgregarFila {
	float: left;
	margin: 30px 0px;
	cursor: pointer;
}

.NimagenAgregar {
	background: url(../images/icons/add.png)  no-repeat;
	height: 16px;
	width: 16px;
	display: block;
	}

.linkEliminarFila {
	background: url(../images/icons/delete.png)  no-repeat;
	height: 16px;
	width: 16px;
	display: block;
}

#NobraTit {
background: url(../images/icons/building.png) no-repeat;
}

#NProdTit {
background: url(../images/icons/cog.png) no-repeat;
}

.NTablaItemsProceso {
	border: 1px solid;
	width: 700px;
}

.NtablaProceso1

.NTablaItemsProceso tr {
	
}

.NTablaItemsProceso td {
	padding:5px;
}

.Nlinea {
	width: 100%;
	height: 1px;
	background-color: #ccc;
	
}

.NTablaItemsProceso td {
    color: #666666;
    font-family: "Lucida Grande",tahoma,arial,helvetica,sans-serif;
    font-size: 14px;
    line-height: 23px;
}

.NSecador, .NLugar, .NLugarSep {
	float: left;
}

.NLugar, .NLugarSep  {
	border: 1px solid;
	width: 7px;
	height: 40px;	
}

.NLugarSep {
	height: 45px;
	border:none;
	width: 13px;	
	}
	
.NAzul {
	background-color: #306D89;
}


.Ntxt3 {
font-family:"Lucida Grande",tahoma,arial,helvetica,sans-serif;
color:#333;
font-size:13.5px;
line-height:20px;
}

.NTabContainer {
	float: left;
	width: 90%;
	padding: 10px;
	z-index: 0;
	position:relative;
}

.NTabContainerBtn {
	float: left;
	position:relative;
	padding: 15px;
	border-bottom: none;
	margin: 0 10px 0px 0px;
	z-index: 0;
	background-color: white;
	
}

.NSecadorCont {
	float: left;
}

.itemSecadorPlaca {
	width: 890px;
	margin: 5px 0px 15px 0px;
}

.itemSecadorMoldura {
	width: 210px;
	margin: 5px 10px 25px;
}

/*color azul*/
.NColor2 {
	background-color: #306D89;
}

/*color amarillo*/
.NColor1 {
	background-color: #FFDD79;
}

/*color gris*/
.NColor0 {
	background-color: #E1E5EF;
}

/*color verde*/
.NColor3 {
	background-color: #22CC58;
}

/*color rojo*/
.NColor4  {
	background-color: #EA5646;
}



.NletraRoja {
	color: #E01111;
	font-weight: bold;
}

.NletraVerde {
	color: #22CC58;
	font-weight: bold;
}

.NulItemsDatosProceso {

}

.NulItemsDatosProceso li {
	margin: 3px 0px;

	width: 310px;

	
}

.NulItemsDatosProceso li span {
	width: 29%;
}







