
.field_widget_insumos tr th:first-child,.field_widget_productos tr th:first-child,.field_widget_elementos tr th:first-child{
	text-align: left;
	
}

.field_widget_insumos tr td select,.field_widget_productos tr td select,.field_widget_elementos tr td select{
	width: 500px;
	padding:3px;
	
}

.field_widget_insumos tr td input[type="text"],.field_widget_productos tr td input[type="text"],.field_widget_elementos tr td input[type="text"]{
	width: 50px;
	height:10px;
	padding:5px;
}

.field_widget_insumos tr td button,.field_widget_elementos tr td button{
	width: auto;
	padding:0px 5px;
	height: 30px;
}

.menuMasOpciones,.menuAcciones,.menuNotificaciones{
	float:right;
	position:relative;
	width: auto;
}

.menuMasOpciones ul,.menuAcciones ul{
	background-color: #fff;
	border: solid 2px #24AEE0;
	padding:5px;
	top:38px;
	right:8%;
	position:absolute;
	width: 200px;
}

.menusDropDownSeccion ul li{
	float:right;
	width:100%;
	margin:1px auto;
}

.menusDropDownSeccion ul .separador{
	float:right;
	width:100%;
	padding:5px 2;
	border:solid 1px #f0f0f0;
}

.menusDropDownSeccion ul li button,.menusDropDownSeccion ul li a{
	float:right;
	border:none;
	background: none;
	font-size: 13px;
	color:#555;
	padding:5px;
	margin:0px;
	cursor:pointer;
}

.menusDropDownSeccion ul li button:hover,.menusDropDownSeccion ul li a:hover{
	color:#fff;
	background-color: #24AEE0;
	width: auto;
}



hr{
	float:left;
	width: 100%;
	margin:10px 0px;
	border-style:solid none;
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom:solid 1px #ccc;
}