{% extends "DecoyesoEstadisticaBundle:Grafico:admin_index.html.twig" %}

{% block form_estadisticas_cont %}
			
			{{ parent() }}
			

			
			<div class="module_tit txt3">
			Tipo: <select name="tipoProducto">
					<option 
					{% if request["tipoProducto"] == -1 %}selected="selected"{% endif %} 
					value ="-1">Todos</option>
					<option
					{% if request["tipoProducto"] == 0 %}selected="selected"{% endif %} 
					 value ="0">Placas</option>
					<option
					{% if request["tipoProducto"] == 1 %}selected="selected"{% endif %} 
					 value ="1">Molduras</option>
				  </select> 
			</div>
			
			
			
			
			<div class="module_tit txt3">
			Producto: <select name="producto">
						<option>Todas</option>
						</select> 
			</div>
			
			
	{% endblock form_estadisticas_cont %}

{% block module_content_estadisticas%}
		
	
	
	
	<div class="NcontChart" style="">
	{% include 'DecoyesoEstadisticaBundle:Grafico:grafico.html.twig' with {'grafico': grafico} %} 
	</div>
		
		         
	
			

{% endblock module_content_estadisticas%}